.text-white {
  color: #fff; }

.background-white {
  background-color: #fff; }

.border-white {
  border-color: #fff; }

.text-black {
  color: #000; }

.background-black {
  background-color: #000; }

.border-black {
  border-color: #000; }

.text-red {
  color: #F00; }

.background-red {
  background-color: #F00; }

.border-red {
  border-color: #F00; }

.text-primary {
  color: #4f4f4f; }

.background-primary {
  background-color: #4f4f4f; }

.border-primary {
  border-color: #4f4f4f; }

.text-secondary {
  color: #333; }

.background-secondary {
  background-color: #333; }

.border-secondary {
  border-color: #333; }

.text-another {
  color: #666; }

.background-another {
  background-color: #666; }

.border-another {
  border-color: #666; }

.text-newone {
  color: #bdbdbd; }

.background-newone {
  background-color: #bdbdbd; }

.border-newone {
  border-color: #bdbdbd; }

#wac-divider-1 {
  background: url(images/wacarts-divider1.jpg); }

#wac-divider-2 {
  background: url(images/wacarts-divider2.jpg); }

#wac-divider-3 {
  background: url(images/wacarts-divider3.jpg); }

#wac-divider-4 {
  background: url(images/wacarts-divider4.jpg); }

#wac-divider-5 {
  background: url(images/wacarts-divider5.jpg); }

#wac-divider-6 {
  background: url(images/wacarts-divider6.jpg); }

#wac-divider-7 {
  background: url(images/wacarts-divider7.jpg); }

#wac-divider-8 {
  background: url(images/wacarts-divider8.jpg); }

#wac-divider-9 {
  background: url(images/wacarts-divider9.jpg); }

#wac-divider-10 {
  background: url(images/wacarts-divider10.jpg); }

body {
  font: 100% Helvetica, sans-serif;
  color: #222; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.message, .success, .warning {
  border: 1xp solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: red; }

.warning {
  border-color: yellow; }

.container {
  width: 100%;
  border-color: #5f5f5f; }

article[role="main"] {
  float: left;
  width: 62.5%; }

.prefix-box-1 {
  border-radius: 10px 5px;
  -ms-border-radius: 10px 5px;
  -o-border-radius: 10px 5px;
  -moz-border-radius: 10px 5px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 5px; }

.prefix-box-2 {
  border-radius: 12px 7px; }

.vendor-prefixed {
  -webkit-transition: ease;
  transition: ease;
  -webkit-transform: perspective();
          transform: perspective();
  -webkit-transition-duration: 12;
          transition-duration: 12;
  border-radius: 10px;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
  background-clip: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  -webkit-appearance: 1px bold;
     -moz-appearance: 1px bold;
          appearance: 1px bold; }

@media only screen and (max-width: 950px) {
  #wac-divider-div-thin, #wac-divider-div-1, #wac-divider-div-2, #wac-divider-div-3, #wac-divider-div-footer, #events-divider-div-1, #events-divider-div-2, #events-divider-div-3, #events-divider-div-footer, #wac-divider-div-2-twitter, #wac-diplomadivider-div-1, #wac-diplomadivider-div-2, #wac-diplomadivider-div-2-ofsted1, #wac-diplomadivider-div-2-ofsted2, #wac-diplomadivider-div-3, #wac-diplomadivider-div-4, #wac-diplomadivider-div-5, #wac-diplomadivider-div-footer, #wac-diplomadivider-div-footer-ofsted, #wac-inclusionsdivider-div-1, #wac-inclusionsdivider-div-2, #wac-inclusionsdivider-div-3, #wac-inclusionsdivider-div-4, #wac-inclusionsdivider-div-5, #wac-inclusionsdivider-div-6, #wac-inclusionsdivider-div-footer, #wac-collegedivider-div-1, #wac-collegedivider-div-2, #wac-collegedivider-div-3, #wac-collegedivider-div-footer, #wac-interactivedivider-div-1, #wac-interactivedivider-div-2, #wac-interactivedivider-div-3, #wac-interactivedivider-div-4, #wac-interactivedivider-div-footer, #wac-juniordivider-div-1, #wac-juniordivider-div-2, #wac-juniordivider-div-3, #wac-juniordivider-div-4, #wac-juniordivider-div-5, #wac-juniordivider-div-footer, #wac-seniordivider-div-1, #wac-seniordivider-div-2, #wac-seniordivider-div-3, #wac-seniordivider-div-4, #wac-seniordivider-div-5, #wac-seniordivider-div-footer, #wac-reachdivider-div-1, #wac-reachdivider-div-2, #wac-reachdivider-div-footer, #wac-poddivider-div-1, #wac-poddivider-div-2, #wac-poddivider-div-3, #wac-poddivider-div-4, #wac-poddivider-div-footer, .wacartsdividers {
    margin: 0 -30px !important;
    height: 220px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; } }
@media only screen and (max-width: 767px) {
  #wac-divider-div-thin, #wac-divider-div-1, #wac-divider-div-2, #wac-divider-div-3, #wac-divider-div-footer, #events-divider-div-1, #events-divider-div-2, #events-divider-div-3, #events-divider-div-footer, #wac-divider-div-2-twitter, #wac-diplomadivider-div-1, #wac-diplomadivider-div-2, #wac-diplomadivider-div-2-ofsted1, #wac-diplomadivider-div-2-ofsted2, #wac-diplomadivider-div-3, #wac-diplomadivider-div-4, #wac-diplomadivider-div-5, #wac-diplomadivider-div-footer, #wac-diplomadivider-div-footer-ofsted, #wac-inclusionsdivider-div-1, #wac-inclusionsdivider-div-2, #wac-inclusionsdivider-div-3, #wac-inclusionsdivider-div-4, #wac-inclusionsdivider-div-5, #wac-inclusionsdivider-div-6, #wac-inclusionsdivider-div-footer, #wac-collegedivider-div-1, #wac-collegedivider-div-2, #wac-collegedivider-div-3, #wac-collegedivider-div-footer, #wac-interactivedivider-div-1, #wac-interactivedivider-div-2, #wac-interactivedivider-div-3, #wac-interactivedivider-div-4, #wac-interactivedivider-div-footer, #wac-juniordivider-div-1, #wac-juniordivider-div-2, #wac-juniordivider-div-3, #wac-juniordivider-div-4, #wac-juniordivider-div-5, #wac-juniordivider-div-footer, #wac-seniordivider-div-1, #wac-seniordivider-div-2, #wac-seniordivider-div-3, #wac-seniordivider-div-4, #wac-seniordivider-div-5, #wac-seniordivider-div-footer, #wac-reachdivider-div-1, #wac-reachdivider-div-2, #wac-reachdivider-div-footer, #wac-poddivider-div-1, #wac-poddivider-div-2, #wac-poddivider-div-3, #wac-poddivider-div-4, #wac-poddivider-div-footer, .wacartsdividers {
    margin: -100px -20px 0 -20px !important;
    height: 150px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; }

  #full-width {
    margin: 0 -20px !important; }

  #full-width-slider {
    margin: -20px -20px 10px -20px !important; } }

/*# sourceMappingURL=gruntstyle.readable.css.map */