$colours: (
  'white': #fff,
  'black': #000,
  'red': #F00,
  'primary': #4f4f4f,
  'secondary': #333,
  'another': #666
);

@each $colour, $hex in $colours {
  .text-#{$colour} {
    color: $hex;
  }
  .background-#{$colour} {
    background-color: $hex;
  }
  .border-#{$colour} {
    border-color: $hex;
  }
}
